{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
    {% block title %}News A.I. Choose{% endblock %}
{% endblock %}
{% block content %}
<!-- slider for choosing article tone -->
<label for="customRange2" class="form-label text-center">Choose Article Tone</label>
<input type="range" class="form-range text-center" min="0" max="2" id="slider-sentiment" style="width: 15em;" name="positivity">
<!-- This gets populated by cards.js -->
<div id="card-parent" class="row row-cols-1 row-cols-md-2 g-4">
</div>
<script src="{{ url_for('static', filename='cards.js') }}"></script>
{% endblock %}
